# Environnement virtuel
venv/

# Dossier généré par MkDocs
site/

# Caches Python
__pycache__/
*.pyc

# Fichiers de sauvegarde de Jupyter
.ipynb_checkpoints/
*.checkpoint.ipynb

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers lourds génériques
*.pdsprj.*
*.mp4
*.avi
*.mov
*.iso

.cache/